@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');

body{
  background:#181818;
}
.mainContainer {
/*   display: flex; */
/*   justify-content: center; */
  width: 100%;
  margin-top: 64px;
}
.headerContainer{
  display:flex;
  justify-content: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #B2B2B2;
}

.bio {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  color: #EAEAEA;
  margin-top: 16px;
}

.buttonContainer{
  display:flex;
  justify-content:space-evenly;
  margin-top: 12px;
}

.waveButton {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 20px;
  background: #8758FF;
  color: #3C4048;
  padding: 10px 15px;
}

.waveButton span{
  margin-right: 6px;
}

.waveMessageContainer{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
  padding: 24px;
  margin-top: 16px;
}

.waveMessageBox{
  font-family: 'Rajdhani', sans-serif;
/*   padding: 16px; */
  background: #F1F1F1;
  color: #3C4048;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  overflow: hidden;
}
.boxHeader{
  display: flex;
  align-items: center;
  gap: .5rem;
  border-bottom: 2px solid #3C4048;
  padding: 16px;
}
.userData{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.data{
  padding: 16px;
}
.waveMessageBox .fieldName{
  font-weight: 600;
  display:block;
}
.waveMessageBox .fieldValue{
  margin-top: 6px;
} 
.dateTime{
  font-size: 12px;
  color: #EAEAEA;
}
.dateTime span{
  padding: 2px 8px;
  background: #8758FF;
  border-radius: 10px;
}
.messageInputBox{
  display:flex;
  justify-content: center;
  margin-top: 16px;
}
.messageInputBox textarea{
  height: 100px;
  width: 500px;
  resize: none;
  background: #2f3032;
  outline:none;
  border:none;
  border-radius: 8px;
  padding: 12px;
  font-family: 'Rajdhani', sans-serif;
  color: #EAEAEA;
  box-sizing: border-box;
}
.messageInputBox textarea:focus{
  outline: 1px solid #8758FF;
}